<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.averi.worldscribe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/worldscribe_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PersonActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.GroupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PlaceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ItemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ConceptActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.ArticleListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.EditConnectionActivity" />
        <activity android:name=".activities.CreateWorldActivity" />
        <activity android:name=".activities.LoadWorldActivity" />
        <activity android:name=".activities.CreateOrLoadWorldActivity" />
        <activity android:name=".activities.CreateArticleActivity" />
        <activity android:name=".activities.SnippetActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".activities.SelectArticleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.EditMembershipActivity" />
        <activity android:name=".activities.CreateSnippetActivity" />
        <activity android:name=".activities.SettingsActivity"></activity>
    </application>

</manifest>